@use "../variables.scss";
@use "../mixins.scss";

.contacts {
  font-size: 16px;
  line-height: 20px;
  color: #E0E0E0;
  text-align: right;
  letter-spacing: 0.16px;

  &--footer {
    text-align: center;

    @media (min-width: variables.$tablet-width) {
      width: 192px;
      text-align: left;
    }
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  color: #FEFEFE;
  text-transform: uppercase;
  letter-spacing: -0.32px;
  margin-bottom: 10px;
}

.contacts--footer .contacts__title {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 21px;
  }
}

.contacts__list {
  @include mixins.list-reset;
}

.contacts__list-item {

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.contacts--footer .contacts__list-item {
  &:not(:last-child) {
    @media (min-width: variables.$tablet-width) {
      margin-bottom: 12px;
    }
  }
}

.contacts__list-item a {
  text-decoration: none;
  color: #E0E0E0;

  &:hover {
    text-decoration: underline;
  }
}
