@use "../variables.scss";
@use "../mixins.scss";

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.32px;
  margin-bottom: 10px;
}
