@use "../variables.scss";

.feedback {
  padding-bottom: 51px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 132px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 114px;
  }
}

.feedback .page__content-container {
  position: relative;

  @media (max-width: variables.$mobile-width-only) {
    width: 375px;
    padding: 0 7.5px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1500px;
    padding: 0 15px
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 262px;
    background: linear-gradient(180deg, #c8bdba 0%, #686466 100%);
    background-size: cover;
    filter: blur(154px);

    @media (min-width: variables.$tablet-width) {
      top: 50%;
      left: 50%;
      width: 918px;
      height: 229px;
      transform: translate(-50%, -50%);
      filter: blur(200px);
    }

    @media (min-width: variables.$desktop-width) {
      width: 946px;
      height: 235px;
      filter: blur(260px);
    }
  }
}


