@use "../variables.scss";

.form {
  padding: 30px 17px;
  border: 3px solid #FF512F;
  background: linear-gradient(269deg, rgba(255, 255, 255, 0.02) 111.35%, rgba(0, 0, 0, 0.02) 117.53%);
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.10) inset, 0px 13px 11px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(97px);

  @media (min-width: variables.$tablet-width) {
    padding: 30px 18px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 30px 220px;
  }
}

.form__title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.48px;
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.64px;
    margin-bottom: 40px;
  }
}

.form__container {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 76px;
  }
}

.form__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form__field {
  display: block;
  width: 100%;
  font-family: "Jost", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.12px;
  color: #F7F7F7;
  border-radius: 20px;
  border: 3px solid #1E1E1E;
  background: #0F0F0F;
  padding: 16px 20px;
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.30), 0px -2px 10px 0px rgba(255, 255, 255, 0.02), 0px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-bottom: 12px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px;
    margin-bottom: 24px;
  }

  &[type="tel"] {
    @media (min-width: variables.$tablet-width) {
      margin-bottom: 0;
    }
  }

  &::placeholder {
    color: #F7F7F7;
    opacity: .65;
    text-transform: uppercase;
  }
}

textarea.form__field {
  min-height: 96px;
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    min-height: 100%;
    margin-bottom: 0;
  }
}

.form__personal-data {
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.form__button {
  background-color: transparent;

  @media (min-width: variables.$tablet-width) {
    padding: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 422px;
  }
}
