@use "../variables.scss";

.hero-block {
  padding-top: 90px;
  padding-bottom: 64px;
  background: url("../../img/age-verification/background.jpg") -331px 3px no-repeat, radial-gradient(100% 100% at 50% 0%, rgba(0, 0, 0, 0.00) 0%, #010101 100%) center center no-repeat;
  background-size: 363%;

  @media (min-width: variables.$tablet-width) {
    padding-top: 162px;
    padding-bottom: 121px;
    background: url("../../img/age-verification/background.jpg") -196px 3px no-repeat, radial-gradient(100% 100% at 50% 0%, rgba(0, 0, 0, 0.00) 0%, #010101 100%) center center no-repeat;
    background-size: cover;
  }

  @media (min-width: variables.$desktop-width) {
    background: url("../../img/age-verification/background.jpg") 500px -33px no-repeat, radial-gradient(100% 100% at 50% 0%, rgba(0, 0, 0, 0.00) 0%, #010101 100%) center center no-repeat;
    background-size: contain;
  }
}

.hero-block__container {
  @media (min-width: variables.$tablet-width) {
    width: 492px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 596px;
  }
}

.hero-block__title {
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 40px;
  }
}

.hero-block__image {
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: 0;
    right: 30px;
    width: 435px;
    height: 413px;
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    right: 110px;
    width: 462px;
    height: 482px;
  }
}

.hero-block__description {
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.32px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 80px;
  }
}

.hero-block__description span{
  background: linear-gradient(270deg, #FF512F 50%, #DD2476 115.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
