@use "../variables.scss";
@use "../mixins.scss";

.social {
  text-align: right;

  &--footer {
    text-align: center;
  }
}

.social__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.social--footer .social__title {
  display: block;

  @media (min-width: variables.$tablet-width) {
    text-align: left;
    letter-spacing: -0.32px;
  }
}

.social__list {
  @include mixins.list-reset;
  display: flex;
  gap: 15px;

  @media (max-width: variables.$mobile-width-only) {
    justify-content: flex-end;
  }
}

.social--footer .social__list {
  justify-content: center;
}

.social__list-button {
  display: flex;
  align-items: center;
}

.social__list svg {
  @media (min-width: variables.$tablet-width) {
    width: 32px;
    height: 32px;
  }
}

.social--footer svg {
  width: 32px;
  height: 32px;
}
