@use "../variables.scss";

.page {
  //height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  background-color: #000000;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.page__main-container {
  flex-grow: 1;
}

.page__content-container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 1024px;
    padding: 0 30px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}
